In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp37-cp37m-win_amd64.whl (9.6 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\eq0024au\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33
Note: you may need to restart the kernel to use updated packages.

Keyring is skipped due to an exception: 'keyring.backends'

In [11]:
import mysql.connector

# Define the connection parameters
config = {
    'user': 'root',
    'password': '1234',
    'host': 'localhost',
    'database': 'learning'
}

# Create a connection
connection = mysql.connector.connect(**config)

# Create a cursor object using the connection
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM students")

# Fetch the results
results = cursor.fetchall()

for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

(1, 'Aarav Sharma', 'Mumbai')
(2, 'Priya Singh', 'Delhi')
(3, 'Ravi Kumar', 'Bangalore')
(4, 'Neha Patel', 'Chennai')
(5, 'Ishaan Rao', 'Hyderabad')
(6, 'Aanya Gupta', 'Pune')
(7, 'Vihaan Verma', 'Kolkata')
(8, 'Saanvi Joshi', 'Jaipur')
(9, 'Aditya Mehta', 'Lucknow')
(10, 'Ishita Agarwal', 'Noida')
(11, 'Arjun Reddy', 'Surat')
(12, 'Ananya Nair', 'Kanpur')
(13, 'Kartik Sharma', 'Ahmedabad')
(14, 'Maya Sharma', 'Indore')
(15, 'Rakesh Choudhary', 'Chandigarh')
(16, 'Meet Sheladiya', 'Surat')

In [20]:
import mysql.connector

# Define the connection parameters
config = {
    'user': 'root',
    'password': '1234',
    'host': 'localhost',
    'database': 'learning'
}

# Create a connection
connection = mysql.connector.connect(**config)

try:
    cursor = connection.cursor()
    
    # Define an insert query
    insert_query = """
    INSERT INTO Students (student_id, name, city)
    VALUES (%s, %s, %s)
    """
    
    # Define the data to insert
    data = (16, 'Meet Sheladiya', 'Surat')
    
    # Execute the query
    cursor.execute(insert_query, data)
    
    # Commit the transaction
    connection.commit()
    
    print("Data inserted successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    connection.close()

Error: 1062 (23000): Duplicate entry '16' for key 'students.PRIMARY'

In [8]:
import mysql.connector

# Define the connection parameters
config = {
    'user': 'root',
    'password': '1234',
    'host': 'localhost',
    'database': 'learning'
}

# Create a connection
connection = mysql.connector.connect(**config)

try:
    cursor = connection.cursor()
    
    # Define an update query
    update_query = """
    UPDATE Students
    SET name = %s
    WHERE name = %s
    """
    
    # Define the data for updating
    data = ('Rakesh Choudhary','Vivaan Yadav')
    
    # Execute the query
    cursor.execute(update_query, data)
    
    # Commit the transaction
    connection.commit()
    
    print(f"Rows affected: {cursor.rowcount}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    connection.close()

Rows affected: 1

In [21]:
import mysql.connector

# Define the connection parameters
config = {
    'user': 'root',
    'password': '1234',
    'host': 'localhost',
    'database': 'learning'
}

# Create a connection
connection = mysql.connector.connect(**config)

try:
    cursor = connection.cursor()
    
    # Define a delete query
    delete_query = """
    DELETE FROM Students
    WHERE name = %s
    """
    
    # Define the condition for deletion
    data = ('Aarav Sharma',)
    
    # Execute the query
    cursor.execute(delete_query, data)
    
    # Commit the transaction
    connection.commit()
    
    print(f"Rows deleted: {cursor.rowcount}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    connection.close()

Error: 1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails (`learning`.`enrollments`, CONSTRAINT `enrollments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`))